.scheduleline {
    padding: 15px 15px;
    background-color: white;
    margin: 10px 10px;
  }
  
  .scheduleline .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .scheduleline .table th, .table td {
    text-align: center;
    padding: 8px;
    border: 1px solid #dee2e6;
  }
  
  .scheduleline .table .form-control {
    width: 100%;
  }
  .table .form-control {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  /* Adjust font size and padding */
  .table .form-control {
    font-size: 0.875rem; /* Slightly smaller font for better fit */
    padding: 0.375rem 0.75rem;
  }
  .scheduleline .table-responsive {
    overflow-x: auto;
  }
  
  .scheduleline .text-right {
    text-align: right;
  }
  
  @media (max-width: 768px) {
    .scheduleline  .table th, .table td {
      padding: 4px;
    }
  }
  
  @media (max-width: 576px) {
    .scheduleline .table th, .table td {
      font-size: 12px;
      padding: 2px;
    }
  }
  