.user-configuration {
  min-height: 100vh;
  background-color: #f3f4f6;
}

.user-configuration .main-content {
  padding: 1rem;
  transition: margin-left 0.3s ease-in-out;
}

.user-configuration .main-content.shifted {
  margin-left: 16rem;
}

.user-container {
  margin: 0 auto;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.user-container .form-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: start;
  margin-bottom: 1.5rem;
}

.user-container .form-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.user-container  .form-label {
  font-weight: 500;
  text-align: start;
}

.user-container .form-input,
.user-container .form-select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.user-container .form-input:focus,
.user-container .form-select:focus {
  outline: none;

}

.user-container .submit-button {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.user-container .submit-button:hover {
  background-color: #2563eb;
}

@media (min-width: 640px) {
  .user-container   .form-container {
    padding: 1.5rem;
  }

  .user-container   .form-title {
    font-size: 1.875rem;
  }

  .user-container   .form-group {
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: center;
  }

  .user-container   .form-label {
    text-align: right;
  }

  .user-container  .submit-button {
    width: auto;
    margin: 0 auto;
  }
}