* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s;
}

.main-content.shifted {
  margin-left: 260px;
}

body.no-scroll {
  overflow: hidden;
}
.btn-gst {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(235, 233, 233, 0.685);
  color: black;
  text-decoration: none;
  margin: 5px;
  margin-top: 70px;
}
.Cutwise {
  width: 100%;
  background-color: rgb(241, 242, 244);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Cutwise1 {
  background-color: white;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.cutwiseheader {
  background-color: aliceblue;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cuthebtn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(235, 233, 233, 0.685);
  color: black;
  text-decoration: none;
  margin: 5px;
}
.Cutwisemain {
  background-color: aliceblue;
  flex-grow: 1;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Cutwise1 th {
  background-color: rgba(0, 0, 255, 0.544);
}
.btnwise {
  margin: 5px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(235, 233, 233, 0.685);
  cursor: pointer;
}
@media (max-width: 768px) {
  .Cutwisemain .table-responsive {
    overflow-x: auto;
  }
  .Cutwisemain .table th,
  .Cutwisemain .table td {
    white-space: nowrap;
  }
}
.Cutwisetable {
  margin-top: 80px;
}
