* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s;
}

.main-content.shifted {
  margin-left: 260px;
}

body.no-scroll {
  overflow: hidden;
}

.main-content {
  transition: margin-left 0.3s;
}

.main-content.shifted {
  margin-left: 250px;
}

.AddCycletimecenter {
  width: 100%;
  background-color: rgb(241, 242, 244);
  min-height: 100vh;
}

.AddCycletimermaster {
  background-color: white;
  padding: 20px;
}

.AddCycletime {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: aliceblue;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.AddCycletime h5 {
  color: blue;
}

.AddCycletime .AddCycletimebtn {
  border: none;
  background-color: rgba(235, 233, 233, 0.685);
  color: black;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.AddCycletimebtn:hover {
  background-color: #0057b38d;
  color: white;
}

.AddCycletimeMain {
  margin-top: 80px;
  background-color: aliceblue;
}

.AddCycletimeMain .centerselect {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.AddCycletimemainbtn {
  display: flex;
  align-items: center;
  border: none;
  background-color: rgba(235, 233, 233, 0.685);
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.AddCycletimemainbtn i {
  margin-right: 5px;
}

.AddCycleaside {
  margin-top: 80px;
  background-color: aliceblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
}

.AddCycleaside .form-label {
  font-weight: bold;
}

.AddCycleaside .btn-primary {
  margin-right: 10px;
}

.AddCycleaside .form-check-label {
  margin-left: 5px;
}

.addbtn {
  align-items: center;
  border: none;
  background-color: rgba(235, 233, 233, 0.685);
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}

.AddCycletable {
  margin-top: 40px;
  padding: 20px 20px;
}

@media (max-width: 768px) {
  .AddCycletime h5,
  .AddCycletime p,
  .AddCycletime .AddCycletimebtn,
  .addbtn {
    font-size: 14px;
  }

  .AddCycletimeMain,
  .AddCycleaside,
  .AddCycletable {
    margin-top: 20px;
  }
}
.record-bootom {
  border: none;
  background-color: rgba(235, 233, 233, 0.685);
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
}
