* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s;
}
.main-content.shifted {
  margin-left: 260px;
}

body.no-scroll {
  overflow: hidden;
}

.mastercus {
  width: 100%;
  background-color: rgb(241, 242, 244);
  height: 100vh;
}
.Main {
  background-color: rgb(241, 242, 244);
  height: 107vh;
  width: 100%;
  text-align: start;
}
.mastercustomer {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.mastercustomericon {
  border: none;
  background-color: white;
}
