* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s;
}
.main-content.shifted {
  margin-left: 260px;
}

body.no-scroll {
  overflow: hidden;
}
.main-content {
  transition: margin-left 0.3s;
}

.main-content.shifted {
  margin-left: 250px; /* Adjust based on your sidebar width */
}
.Bussiness {
  width: 100%;
  background-color: rgb(241, 242, 244);
  height: 150vh;
}

.btn-bus {
  border: none;
  padding: 10px;
  background-color: rgba(220, 222, 224, 0.833);
  border-radius: 10px;
}
.fullbus {
  background-color: white;
  padding: 20px 20px;
  margin-top: 20px;
}
.bussiness-main {
  background-color: aliceblue;
  height: auto;
  padding: 20px 20px;
  margin-top: 80px;
  text-align: start;
}
.bussiness1 {
  padding: 20px 20px;
  background-color: aliceblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
}

.btn-bus {
  background-color: rgba(235, 233, 233, 0.685);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.bussiness-main {
  padding: 20px 30px;
  margin: 20px 0;
  padding: 10px;
  background-color: aliceblue;
}

.bussiness-main .form-control,
.bussiness-main .form-select {
  margin-bottom: 10px;
}

.btn-fg {
  background-color: rgba(235, 233, 233, 0.685);

  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.btn-ty {
  background-color: rgba(235, 233, 233, 0.685);

  border: none;
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
}

.bsi-btn {
  background-color: rgba(235, 233, 233, 0.685);

  border: none;
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
}

.bus-bottom {
  padding: 20px 30px;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .bussiness-main .form-control,
  .bussiness-main .form-select {
    margin-bottom: 15px;
  }

  .btn-ty,
  .bsi-btn {
    width: 100%;
    margin-top: 10px;
  }

  .bus-bottom .form-check {
    margin-bottom: 10px;
  }
  .Bussiness {
    width: 100%;
    background-color: rgb(241, 242, 244);
    height: auto;
  }
  .bus-bottom .form-check-label {
    font-size: 14px;
  }
  .btn-fg {
    margin: 1px;
  }
}
@media (max-width: 360px) {
  .bussiness-main .form-control,
  .bussiness-main .form-select {
    margin-bottom: 15px;
  }

  .btn-ty,
  .bsi-btn {
    width: 100%;
    margin-top: 10px;
  }

  .bus-bottom .form-check {
    margin-bottom: 10px;
  }
  .Bussiness {
    width: 100%;
    background-color: rgb(241, 242, 244);
    height: auto;
  }
  .bus-bottom .form-check-label {
    font-size: 14px;
  }
  .btn-fg {
    margin: 1px;
  }
}
