.blueside-Nav .side-nav {
  position: fixed; /* Changed to fixed to overlay the main content */
  top: 0;
  left: -250px; /* Start off-screen */
  width: 250px;
  height: 100%;
  background-color: rgb(146, 54, 231);
  color: white;
  transition: left 0.3s; /* Smooth transition */
  padding-top: 60px;
  z-index: 1000;
  overflow-y: auto;
  height: 100vh;
}

.blueside-Nav .side-nav.open {
  left: 0; /* Slide in */
}
.blueside-Nav .side-nav ul {
  list-style-type: none;
  padding: 0;
  text-align: start;
}

.blueside-Nav .side-nav ul li {
  padding: 8px 16px;
  text-align: start;
}

.blueside-Nav .side-nav ul li a {
  color: white;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.blueside-Nav .close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.blueside-Nav .logo-light {
  width: 80%;
  height: auto;
  margin-top: -60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blueside-Nav .dropdown-container {
  position: relative;
}

.blueside-Nav .dropdown-toggle {
  cursor: pointer;
  display: flex;
}

.blueside-Nav .dropdown-menu {
  display: none;
  background: rgb(146, 54, 231);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  border: none;
}

.blueside-Nav .dropdown-menu.show {
  display: block;
}

.blueside-Nav .dropdown-menu .dropdown-item {
  padding: 10px 20px;

  color: rgb(215, 210, 210);
  width: 100%;
}

.blueside-Nav .dropdown-menu .dropdown-item:hover {
  background-color: rgb(68, 77, 165);
  color: white;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .blueside-Nav .side-nav {
    width: 200px;
    left: -200px;
  }

  .blueside-Nav .side-nav.open {
    left: 0;
  }

  .blueside-Nav .logo-light {
    width: 60%;
  }

  .blueside-Nav .side-nav ul li {
    padding: 8px 12px;
  }

  .blueside-Nav .dropdown-menu .dropdown-item {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 480px) {
  .blueside-Nav .side-nav {
    width: 100%;
    left: -100%;
  }

  .blueside-Nav .side-nav.open {
    left: 0;
  }

  .blueside-Nav .logo-light {
    width: 50%;
  }

  .blueside-Nav .side-nav ul li {
    padding: 8px 10px;
  }

  .blueside-Nav .dropdown-menu .dropdown-item {
    padding: 10px 10px;
  }
}
