* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s;
}
.main-content.shifted {
  margin-left: 260px;
}

body.no-scroll {
  overflow: hidden;
}

.home {
  width: 100%;
  background-color: rgb(241, 242, 244);
  height: 190vh;
}
.Main {
  background-color: rgb(241, 242, 244);
  height: 107vh;
  width: 100%;
  text-align: start;
}

.top-but3 {
  margin: 20px 0;
  width: 100%;
  height: 7vh;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.itemmastergernal {
  margin: 50px 0;
  width: 100%;
  height: 150vh;
  padding: 10px;
  background-color: aliceblue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.top-but3 p {
  color: blue;
}

.top-but3 #input {
  margin: 2px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}

.btn-uper {
  margin-left: 30px;
  background-color: rgba(235, 233, 233, 0.685);
  padding: 5px;
  border: none;
  border-radius: 10px;
}

#pills-tab {
  text-align: start;
  margin-top: 20px;
}
/* custom.css */
.nav-pills .nav-link {
  color: grey; /* Default text color for buttons */
  background-color: white; /* Default background color for buttons */
}
.nav-pills .nav-link:hover {
  color: gray;
}
.nav-pills .nav-link.active {
  background-color: blueviolet !important; /* Active button background color */
  color: white !important; /* Active button text color */
}

.nav-item button {
  background-color: white;
  color: grey;
  padding: 12px;
  margin: 10px;
  background-color: blueviolet;
  color: grey;
}
.new-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 600px; /* Max width of the card */
}

.card-title {
  color: white;
}

.card-body {
  color: black;
}
.card-btn {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
}
.card-btn1 {
  background-color: green;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 10px;
  width: 60%;
}
.card-btn2 {
  background-color: red;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 10px;
}
.btn-primary,
.btn-danger {
  cursor: pointer;
}

/* Responsive styles for the table */
.table {
  width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .table {
    overflow-x: auto;
  }
}
/* Media Queries */
@media (max-width: 768px) {
  .main-content.shifted {
    margin-left: 200px;
  }
  .top-but3 {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .main-content.shifted {
    margin-left: 60px;
  }
  .top-but3 {
    flex-direction: column;
    align-items: center;
  }
  .form {
    height: auto;
    padding: 10px;
  }
}
@media (max-width: 360px) {
  .main-content.shifted {
    margin-left: 60px;
  }
  .top-but3 {
    flex-direction: column;
    align-items: start;
  }
  .form {
    height: auto;
    padding: 10px;
  }
}
.btn {
  background-color: rgba(235, 233, 233, 0.685);
  margin-left: -20px;
}
