* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s;
}

.main-content.shifted {
  margin-left: 260px;
}

body.no-scroll {
  overflow: hidden;
}

.GstCustomer {
  width: 100%;
  background-color: rgb(241, 242, 244);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cusgst {
  background-color: white;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cusgstheader {
  background-color: aliceblue;
  padding: 20px;
  margin-top: 40px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 2px -3px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cusgstheader h5 {
  color: blue;
}

.custgat-btn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(235, 233, 233, 0.685);
  color: black;
}

.cusgstmain {
  background-color: aliceblue;
  flex-grow: 1;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-group {
  width: 100%; /* Ensure input group takes full width */
}

.input-group .form-control {
  width: 100%; /* Ensure input field takes full width within input group */
}
.cusmainbtn,
.cusmainniche {
  border: none;
  border-radius: 5px;
  padding: 7px;
  background-color: rgba(235, 233, 233, 0.685);
  color: black;
}

.cusmainniche {
  margin-top: 200px;
}

@media (max-width: 768px) {
  .cusgstheader {
    flex-direction: column;
    text-align: center;
  }

  .cusgstheader .text-end {
    margin-top: 10px;
  }

  .cusgstmain {
    margin-top: 20px;
  }
}
