/* General Styles */
.NewStorescrapMoventStock {
    background-color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .scrapMoventStock-header {
    margin-top: 20px;
    background-color: aliceblue;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .scrapMoventStock-main {
    background-color: aliceblue;
    padding: 20px;
    margin-top: 20px;
  }
  .scrapMoventStockSelect{
     margin-top: 20px;
    background-color: white;
    padding: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  .header-title {
    font-weight: bold;
  }
  
  .scrapMoventStock-main .form-group {
    display: flex;
    align-items: center;
  }
  
  .scrapMoventStock-main input, select, textarea {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .header-title {
      font-size: 18px;
    }
  
    .scrapMoventStock-main   .form-group {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .scrapMoventStock-main   .col-form-label {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .scrapMoventStock-main .col-form-label {
      text-align: right;
    }
  }
  