* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s;
}
.main-content.shifted {
  margin-left: 260px;
}

body.no-scroll {
  overflow: hidden;
}

.ContractorMaster {
  width: 100%;
  background-color: rgb(241, 242, 244);
  min-height: 100vh;
}

.ContractorMaster1 {
  background-color: white;
  padding: 20px;
  height: auto;
}

.Contractor {
  background-color: aliceblue;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Contractorbtn {
  background-color: rgba(235, 233, 233, 0.685);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: -5px;
  margin-right: 10px;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}

.ContractorMain {
  background-color: aliceblue;
  padding: 20px;
  margin-top: 50px;
}
.ContractorMainbtn {
  background-color: rgba(235, 233, 233, 0.685);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: -5px;
  margin-right: 10px;
}
.Contractortable {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  overflow-x: auto;
}

.Contractortable .table-responsive {
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto;
}

.Contractortable .table th,
.Contractortable .table td {
  white-space: nowrap;
}
.contractorbtnicon {
  border: none;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .Contractor .text-end {
    text-align: start !important;
    margin-top: 10px;
  }

  .Contractorbtn {
    width: 100%;
    text-align: center;
  }
  .ContractorMainbtn {
    margin-top: 10px;
    width: 100%;
  }

  .ContractorMain .row {
    flex-direction: column;
  }

  .ContractorMain .col-md-3,
  .ContractorMain .col-md-6,
  .ContractorMain .col-md-1,
  .ContractorMain .col-md-2 {
    width: 100%;
    margin-bottom: 10px;
  }

  .ContractorMain .col-md-6 input {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .Contractor h5 {
    font-size: 1.2rem;
  }

  .Contractorbtn {
    padding: 8px 10px;
    font-size: 0.9rem;
  }

  .Contractor .btn {
    width: 100%;
    margin-bottom: 5px;
  }
}
