.DocumentStart{
    margin-top: 20px;
  }
  .Document-header {
    background-color: #f8f9fa; /* Light background for header */
    border-bottom: 1px solid #dee2e6; /* Border for header */
    padding: 10px 15px; /* Padding around header */
    border-radius: 5px;
}

.DocumentStart  .header-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

  