/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: grey;
  margin-left: -10px;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.navbar-logo {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 0;
}

.navbar-menu {
  display: flex;
  flex-grow: 1; /* Flex-grow to occupy available space */
  justify-content: flex-end; /* Aligns menu items to the right */
}

.navbar-dropdown {
  position: relative;
  margin-right: 15px;
  padding: 10px;
  list-style-type: none;
}

.navbar-button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.navbar-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin: 0;
 
}

.navbar-dropdown:hover .navbar-dropdown-menu,
.navbar-dropdown-menu.show {
  display: block;
}

.navbar-dropdown-item {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: #333;
}

.navbar-dropdown-item:hover {
  background-color: #f1f1f1;
  color: black;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.navbar-search {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.navbar-icon {
  margin: 0 10px;
  cursor: pointer;
}

.navbar-us {
  height: 20px;
  margin: 0 10px;
}

.navbar-user {
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-actions {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .side-nav.open .navbar-menu,
  .side-nav.open .navbar-actions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 576px) {
  .navbar {
    flex-wrap: wrap; /* Wrap items to fit on smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .navbar-brand {
    justify-content: space-between;
    width: 100%; /* Ensure brand section spans full width */
  }
}
/* Custom style for  button */
#navid {
  border: none;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  width: 100%;
  color: #333;
}

#navid:hover {
  background-color: #f1f1f1;
}
