/* General Reset and Box Sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main App Container */
.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Main Content Area */
main {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s;
}
.main-content.shifted {
  margin-left: 260px; /* Adjust based on sidebar width */
}

body.no-scroll {
  overflow: hidden;
}

/* Main Container for UnitConversion Component */
.UniConversion {
  width: 100%;
  background-color: rgb(241, 242, 244);
  min-height: 100vh;
  padding: 20px; /* Add padding for better spacing */
}

/* Unit Conversion Section */
.UniConversion1 {
  background-color: white;
  padding: 20px;
  height: auto;
}

/* Unit Section */
.Unit {
  background-color: aliceblue;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Main Form Section */
.UnitMain {
  background-color: aliceblue;
  padding: 20px;
  margin-top: 50px;
}

/* Button Style */
.UnitMainbtn {
  background-color: rgba(235, 233, 233, 0.685);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
  margin-right: 10px;
}

/* Responsive Table Container */
.Unittable table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

.Unittable th,
.Unittable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.Unittable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: black;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 992px) {
  .UnitMainbtn {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .Unit {
    padding: 15px;
  }

  .UnitMain {
    padding: 15px;
  }

  .UnitMainbtn {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .Unit {
    padding: 10px;
  }

  .UnitMain {
    padding: 10px;
  }

  .UnitMainbtn {
    padding: 8px;
    font-size: 14px;
  }
}
