* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s;
}

.main-content.shifted {
  margin-left: 260px;
}

.side-nav-open .main-content {
  overflow: hidden;
}

.vendor {
  width: 100%;
  background-color: rgb(241, 242, 244);
  height: 100vh;
}

.VendorPage {
  background-color: rgb(241, 242, 244);
  min-height: 100vh;
  width: 100%;
  text-align: start;
  padding-top: 50px;
}
.top-but {
  margin-top: -20px;
}

.top-but .btn {
  border: 1px solid black;
  margin: 5px;
  padding: 5px 10px; /* Corrected padding syntax */
}
#pills-tab {
  text-align: start;
  margin-top: 20px;
}

/* custom.css */
.nav-pills .nav-link {
  color: grey; /* Default text color for buttons */
  background-color: white; /* Default background color for buttons */
}
.nav-pills .nav-link:hover {
  color: gray;
}
.nav-pills .nav-link.active {
  background-color: blueviolet !important; /* Active button background color */
  color: white !important; /* Active button text color */
}

.nav-item button {
  background-color: white;
  color: grey;
  padding: 12px;
  margin: 10px;
  background-color: blueviolet;
  color: grey;
}

.form {
  margin-top: 30px;
  height: auto;
  width: 100%;
  justify-content: start;
  background-color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}
.date-2 {
  margin-top: 30px;
  height: auto;
  width: 100%;
  justify-content: start;
  background-color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}
.logo-image {
  margin-top: 30px;
  height: auto;
  width: 100%;
  justify-content: start;
  background-color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}
.logo-image label {
  height: 150px;
}
.logo-image input {
  height: 150px;
  width: 30%;
}
.einvoice {
  margin-top: 30px;
  height: auto;
  width: 100%;
  justify-content: start;
  background-color: white;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}
.einvoice label {
  padding: 3px;
}

/* Media Queries */
@media (max-width: 768px) {
  .main-content.shifted {
    margin-left: 200px;
  }
  .top-but {
    margin-left: 0;
    text-align: center;
  }
  .vendor {
    height: auto;
  }
}

@media (max-width: 576px) {
  .main-content.shifted {
    margin-left: 60px;
  }
  .top-but {
    flex-direction: column;
    align-items: center;
  }
  .form {
    height: auto;
    padding: 10px;
  }
  .vendor {
    height: auto;
  }
  .gernala {
    height: auto;
  }
}
@media (max-width: 360px) {
  .main-content.shifted {
    margin-left: 60px;
  }
  .top-but {
    flex-direction: column;
    align-items: start;
  }
  .form {
    height: auto;
    padding: 10px;
  }
  .gernala {
    height: auto;
  }
  .vendor {
    height: auto;
  }
}
.gernala {
  background-color: aliceblue;
  height: 190vh;
  margin-top: 20px;
  padding: 20px 20px;
}
.gernal-update {
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.gernal-update:hover {
  background-color: blue;
  color: white;
}
.date-update {
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.date-update:hover {
  background-color: blue;
  color: white;
}
