* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s;
}

.main-content.shifted {
  margin-left: 260px;
}

body.no-scroll {
  overflow: hidden;
}

.Crossreference {
  width: 100%;
  background-color: rgb(241, 242, 244);
  height: 130vh;
}

.Main {
  background-color: rgb(241, 242, 244);
  height: 107vh;
  width: 100%;
  text-align: start;
}

.Crossrefer {
  background-color: white;
  height: auto;
  padding: 20px 20px;
}

.reference-upper {
  margin-top: 40px;
  background-color: aliceblue;
  height: 10vh;
  padding: 20px;
  border-bottom: 2px solid #ddd; /* Add bottom border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.ref-btn {
  border: none;
  padding: 10px;
  background-color: rgba(235, 233, 233, 0.685);
  border-radius: 10px;
  margin-top: -5px;
}

.reference-form {
  margin-top: 40px;
  background-color: aliceblue;
  height: auto;
  padding: 20px;
}

.pac-btn,
.resss-btn {
  border: none;
  background-color: rgba(235, 233, 233, 0.685);
  padding: 7px;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .reference-upper,
  .reference-form {
    padding: 10px;
  }

  .reference-form .row {
    flex-direction: column;
    align-items: flex-start;
  }

  .reference-form .row.mb-3 {
    margin-bottom: 15px;
  }

  .reference-form .row .col-sm-3 {
    width: 100%;
  }

  .reference-form .row .col-sm-7,
  .reference-form .row .col-sm-9,
  .reference-form .row .col-sm-2,
  .reference-form .row .col-sm-3 {
    width: 100%;
    margin-bottom: 10px;
  }

  .pac-btn,
  .resss-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(235, 233, 233, 0.685);
  }
}
