.PurchaseSeriesGroup {
    margin-top: 20px;
    
}

/* Header Styling */
.PurchaseSeries-header {
    background-color: #f8f9fa; /* Light background for header */
    border-bottom: 1px solid #dee2e6; /* Border for header */
    padding: 10px 15px; /* Padding around header */
    border-radius: 5px;
}

.PurchaseSeries .header-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.PurchaseSeries-form {
    padding: 20px;
}

/* Button Group Styling */
.PurchaseSeries-Main .btn {
    background-color: #f8f9fa; /* Light background for buttons */
    color: #333;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: left;
    width: auto;
  }
  
  .PurchaseSeries-Main .btn:hover {
    background-color: #e2e6ea;
  }
  
  .PurchaseSeries-Main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

/* Table Styling */
.PurchaseSeries-table {
    margin-top: 20px;
}

.PurchaseSeries-table .table {
    width: 100%;
}

.table-responsive {
    overflow-x: auto;
}

/* Responsive Styling */
@media (max-width: 1200px) {
    .PurchaseSeries .header-title {
        font-size: 18px;
    }
    .PurchaseSeries-form {
        padding: 15px;
    }
    .PurchaseSeries-Main .btn {
        padding: 8px 12px;
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .PurchaseSeries .header-title {
        font-size: 16px;
    }
    .PurchaseSeries-form {
        padding: 10px;
    }
    .PurchaseSeries-Main .btn {
        padding: 6px 10px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .PurchaseSeries-form {
        padding: 5px;
    }
    .PurchaseSeries-Main {
        flex-direction: column;
    }
    .PurchaseSeries-table .table {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .PurchaseSeries .header-title {
        font-size: 14px;
    }
    .PurchaseSeries-form {
        padding: 0;
    }
    .PurchaseSeries-Main .btn {
        padding: 5px 8px;
        font-size: 10px;
    }
    .PurchaseSeries-table .table {
        font-size: 10px;
    }
    .table-responsive {
        overflow-x: scroll;
    }
}

/* SideNav shifts when opened */
.main-content.shifted {
    margin-left: 250px; /* Adjust for SideNav width */
    transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
    .main-content.shifted {
        margin-left: 0;
    }
}
