* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.no-scroll {
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 60px;
  transition: margin-left 0.3s;
}

.main-content.shifted {
  margin-left: 260px;
}

.Department {
  width: 100%;
  background-color: rgb(241, 242, 244);
  min-height: 100vh;
}

.Department1 {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.Departmentupper {
  background-color: aliceblue;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.Departmentbtn {
  background-color: rgba(235, 233, 233, 0.685);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: -5px;
  margin-right: 10px;
}
.DepartmentMain {
  background-color: aliceblue;
  padding: 20px;
  margin-top: 50px;
  border-radius: 8px;
}

.Departmentbottom {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.DepartmentMain .table-responsive {
  overflow-x: auto;
}
